/vendor/
/logs/*
!/logs/README.md
/.idea/
/cache/
/public/node_modules/
/public/js/public/
.vagrant/*
Vagrantfile
puphpet/*
/nbproject/private/
.phpintel/*
/storage/avatars/*
!/storage/avatars/.gitkeep
/storage/uploads/*
!/storage/uploads/.gitkeep
/public/avatars
/public/uploads
config/cfg.php
