/* browse files section */

.settingsMenu {
    padding-top: 10px;
}

.lateToEarlyButton {
   
}

.file {
    padding-top: 30px;
}

.file h5 .userAvatar {
    font-size: 16px;
    height: 30px;
    width: 30px;
}

.fileLink, .fileLink:link, .fileLink:visited, .fileLink:hover, .fileLink:active {
    text-decoration: none;
    color: black;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.file .fileAvatar {
    margin-top: 20px;
}

.files hr {
    border: 1.5px solid #d3e0e9;
    border-radius: 5px;
}