/* browse files section */

.settingsMenu {
    padding-top: 10px;
}

.settingsMenu button, .settingsMenu button.active {
    background-color: #CDC3E2;
    color: #FFF4D8;
}

.settingsMenu button.active, .settingsMenu button:hover {
    background-color: #39216c;
}


.arrowButton {
    background-color: #39216c;
    color: #FFF4D8;
}

.file {
    padding: 10px 30px 20px 20px;
    border-radius: 4px;
    background-color: #578797;
    margin-top: 15px;
    color: #FFF4D8;
}

.file:last-child {
    margin-bottom: 15px;
}

.file h5, .file h4 {
    color: #FFF4D8;
}

.file h5 .userAvatar {
    font-size: 16px;
    height: 30px;
    width: 30px;
}

.fileLink, .fileLink:link, .fileLink:visited, .fileLink:hover, .fileLink:active {
    text-decoration: none;
    color: black;
    margin:0;
    padding:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

.file .fileAvatar {
    margin-top: 20px;
}

.files hr {
    border: 1.5px solid #d3e0e9;
    border-radius: 5px;
}