/* browse files section */

.settingsMenu {
    padding-top: 10px;
}

.settingsMenu button, .settingsMenu button.active {
    background-color: #CDC3E2;
    color: #FFF4D8;
}

.settingsMenu button.active, .settingsMenu button:hover {
    background-color: #39216c;
}

