#logOutA {
	display: none;
}

#profileA {
	display: none;
}

.navbar {
	margin-bottom: 0;
}

.navbar-collapse {
	overflow:  hidden;
}

.caption a {
	padding-left: 5px;
}

.caption  .downloadsCounter, .caption  .upHand, .caption  .downHand {
	margin-left: 5px;
}

.grid {
	border: 1px solid #ddd;
	border-radius: 4px;
}

.mainSpace {
	padding-top: 200px;
	margin: 0;
	height: 92vh;
}

#userDataList a {
	text-decoration: none;
	color: red;
}

.avatarSection {
	padding-left: 25px;
}

.avatarSection a img {
	width: 150px;
	height: 150px;
}

.userDataEditIcon {
	display: none;
	margin-left: 10px;
}

.dndWrap {
	display: none;
	position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #337ab7a6;
    z-index: 5;
}

.dndSpace {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.6;
    z-index: 4;
}

.dndMessage {
	position: absolute;
	top: 45%;
	width: 100%;
	text-align: center;
	font-size: 60px;
	color: #337ab7;
	z-index: 5;
	opacity: 1;
}

.thumbnail .preview {
	padding-top: 5%;
	padding-bottom: 5%;
}

div {
	word-wrap: break-word;
}