@import url('profile.css');
@import url('404.css');
@import url('browse_files.css');
@import url('upload_section.css');
@import url('file_preview.css');
@import url('file.css');

@font-face {
    font-family: Tavolgafree;
    src: url('../fonts/Tavolgafree.woff2');
}

@font-face {
    font-family: 'Sigmar One';
    src: url('../fonts/SigmarOne-Regular.ttf');
}

main {
    background-color: #F2D388;
    font-family: 'Muli', sans-serif;
    min-height: calc(100vh - 52px);
}

#logOutA {
    display: none;
}

#profileA {
    display: none;
}

.navbar {
    margin-bottom: 0;
    background-color: #578797;
    border-radius: 0;
    border: none;
}

.navbar-collapse {
    overflow:  hidden;
}

.appName {
    font-family: 'Sigmar One', cursive;
    font-size: 30px;
    color: #f9e7bd !important;
}

.navbar-nav .navButton {
    background-color: #f9e7bd !important;
    color: #39216c !important;
    padding: 10px;
    min-width: 90px;
    margin-left: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.navbar-nav li a {
    color: #f9e7bd !important;
}

.navbar-nav .navButton, .navbar-nav li a {
    font-family: 'Muli', sans-serif;
    font-size: 16px;
}

.caption a {
    padding-left: 5px;
}

.caption  .downloadsCounter, .caption  .upHand, .caption  .downHand {
    margin-left: 5px;
}

.grid {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.mainSpace {
    padding-top: 200px;
    margin: 0;
    height: 92vh;
    background-color: #F2D388;
}

.mainSpace h1 {
    font-family: Tavolgafree;
}

.fileInput {
    display: none !important;
}

.uploadButton {
    width: 250px;
    height: 75px;
    background-color: #7a64a5;
    color: white;
    font-size: 30px;
}

.dndWrap {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    border: 10px solid #337ab7a6;
    z-index: 5;
}

.dndSpace {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: black;
    z-index: 1;
    opacity: 0.6;
    z-index: 4;
}

.dndMessage {
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
    font-size: 60px;
    color: #337ab7;
    z-index: 5;
    opacity: 1;
}

.thumbnail .preview {
    padding-top: 5%;
    padding-bottom: 5%;
}

div {
    word-wrap: break-word;
}

.alertsQueue {
    position: absolute;
    bottom: 0%;
    right: 3%;
    width: 20%;
}

/* navigation arrow */

.arrowButton, .arrowButton:hover {
    background-color: #39216c !important;
    color: #FFF4D8;
}

.sideArrow {
    display: none;
    margin-top: 25px;
}

.userError {
    font-size: 34px;
}

@media screen and (min-width: 768px) {

    .fileSpace h4 {
        font-size: large;
    }

    .fileSpace .fileImage {
        height: 135px;
        width: 135px;
    }

    .fileSpace {
        border: 1px solid #d3e0e9;
        padding-top: 15px;
        /*font-size: large;*/
    }

    .fileSpace .fileInfoList {
        padding-top: 35px;
    }

    .fileSpace .buttonsFilePage {
        /*font-size: large;*/
    }

    .sideArrow {
        display: block;
    }

    .bottomArrows {
        display: none;
    }
}


@media screen and (min-width: 960px) {

}

@media only screen and (min-width:1440px){
    /* styles for browsers larger than 1440px; */
    .fileSpace h4 {
        font-size: smaller;
    }

    .fileSpace {
        font-size: small;
    }

    .fileSpace .buttonsFilePage {
        font-size: small;
    }
}
