<div class="container">
    <div class="row">
        <aside class="settingsMenu center-block text-center">
            <div class="btn-group">
                <a href="/browse/late_to_early">
                    <button type="button " class="btn btn-default lateToEarlyButton
                        {% if sortType == 'late_to_early' %}
                            active
                        {% endif %}
                        ">Late to early
                    </button>
                </a>
                <a href="/browse/early_to_late">
                    <button type="button" class="
                    btn btn-default
                    {% if sortType == 'early_to_late' %}
                        active
                    {% endif %}
                    ">Early to late
                    </button>
                </a>
            </div>
        </aside>
    </div>
    <div class="row">
            <div class="sideArrow col-xs-2 text-right">
                {% include 'left_arrow.twig' %}
            </div>
        <section class="files col-xs-12 col-sm-8">
            {% include 'file_articles.twig' %}
        </section>
            <div class="sideArrow col-xs-2">
                {% include 'right_arrow.twig' %}
            </div>
    </div>
    <div class="row">
        <div class="bottomArrows center-block text-center">
            {% include 'left_arrow.twig' %}
            {% include 'right_arrow.twig' %}
        </div>
    </div>
    </div>
</div>
