<div class="container">
    <div class="row">
        <section class="fileSpace col-xs-10 col-xs-offset-1">
            <h4><img src="{{ appInfo.hostname }}/img/user.png" alt="Author avatar" class="img-rounded userAvatarFile">Author:</h3>
            <img 
                class="img-responsive center-block fileImage"
                src="
                {{ appInfo.hostname }}/img/file.png
                " 
                alt="File type pic"
                >
            <ul class="fileInfoList list-group list-inline">
                <li class="list-group-item">Uploaded: </li>
                <li class="list-group-item">Size: </li>
            </ul>
            <div class="buttonsFilePage col-xs-6 col-xs-offset-2">
                <button type="button" class="btn btn-default btn-lg">
                    <span class="glyphicon glyphicon-cloud-download" aria-hidden="true"></span> Download
                </button>
            </div>
        </section>
    </div>
</div>