<div class="container">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-md-8 col-md-offset-2 grid">
            <h4>Filename</h4>
            <a href="#" class="thumbnail">
                <img class="preview" data-src="img/file.png" src="img/file.png" alt="File">
            </a>
            <div class="caption">
                <p><a href="#">fullFilename <i>(filesize)</i> Upload date dd-mm-yyyy</a></p>
                <a href="#" data-toggle="modal" data-target="#commentModal"><span class="glyphicon glyphicon-comment" aria-hidden="true"></span></a>
                <a href="#" class=""><span class="glyphicon glyphicon-thumbs-up"><span class="upHand">0</span></span></a>
                <a href="#" ><span class="glyphicon glyphicon-thumbs-down"><span class="downHand">0</span></span></a>
                <a href="#"><span class="glyphicon glyphicon-save"><span class="downloadsCounter">0</span></span><a>
            </div>
        </div>
    </div>
</div>