<div class="modal fade" id="flashMessageModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title" id="flashMessageHeader"></h4>
        </div>
    <div class="modal-body" id="flashBody">

    </div>
    <!-- Footer section -->
    <div class="modal-footer">
        <button id="cancelInvalidFileButton" type="button" class="btn btn-default" data-dismiss="modal">Ok</button>
    </div>
    </div>
</div>
</div>