<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ title }}</title>
    <link rel="shortcut icon" type="image/x-icon" href="{{ faviconLink }}">
</head>
<body>
<div class="dndWrap" id="dndWrap">
<p class="dndMessage" id="dndMessage">Just Drop File Here</p>
    <div class="dndSpace" id="dndSpace">
    </div>
</div>
<header>
    {% include 'navigation_panel.twig' %}
    {% include 'flash_message.html' %}
</header>
<main>
    {% if page == 'main_page' %}
        {% include 'upload_section.twig' %}
    {% elseif page == 'browse' %}
        {% include 'browse.twig' %}
    {% elseif page == '500' %}
        {% include '500.twig' %}
    {% elseif page == 'file' %}
        {% include 'file.twig' %}
    {% elseif page == 'search' %}
        {% include 'search.twig' %}
    {% elseif page == '404' %}
        {% include '404.html' %}
    {% elseif page == 'user_error' %}
        {% include 'user_error.twig' %}
    {% endif %}
</main>
    {% if page == 'main_page' %}
        <script src="{{hostname}}/js/public/main.js"></script>
    {% else %}
        <script src="{{hostname}}/js/public/common.js"></script>
    {% endif %}
</body>
</html>