<div class="modal fade" id="invalidFormatModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button id="loginClose" type="button" class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title" id="loginModal">Invalid file format</h4>
        </div>
    <div class="modal-body">
        <p>But i can add it in archive, okay?</p>
        <p>Filename blablalbla</p>
    </div>
    <!-- Footer section -->
    <div class="modal-footer">
        <button id="cancelInvalidFileButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="invalidFileButton" type="button" class="btn btn-primary">Upload</button>
    </div>
    </div>
</div>
</div>