<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button id="profileClose" type="button" class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title" id="profileTitle"></h4>
        </div>
<!-- modal body -->
<div class="modal-body">
    <input type="file" id="avatarUploadInput">
    <div class="userProfileSection media">
        <a class="pull-left" href="#" id="uploadAvatarA">
            <img class="thumbnail media-object" src="/img/user.png" alt="user avatar">
        </a>
        <ul id="userDataList"></ul>
    </div>
</div>
    <!-- Footer section -->
    <div class="modal-footer">
        <button id="cancelPorfileButton" type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button id="profileButton" type="button" class="btn btn-primary">Change</button>
    </div>

    </div>
</div>
</div>