<div class="modal fade" id="profileModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button id="profileClose" type="button" class="close" data-dismiss="modal">x</button>
            <h4 class="modal-title" id="profileTitle"></h4>
        </div>
    <!-- modal body -->
    <div class="modal-body" id="profileModalBody">
        <input type="file" id="avatarUploadInput">
        <div class="userProfileSection media" id="userProfileSection">
            <a class="pull-left" href="#" id="uploadAvatarAInProfile"></a>
        </div>
    </div>
    <!-- Footer section -->
    <div class="modal-footer">
        <button id="cancelPorfileButton" type="button" class="btn btn-default" >Cancel</button>
        <button id="changeProfileButton" type="button" class="btn btn-primary">Change</button>
        <button id="applyProfileButton" type="button" class="btn btn-primary">Apply</button>
    </div>

    </div>
</div>
</div>