<!-- register form modal -->
<div class="modal fade" id="registerModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">x</button>
                <h4 class="modal-title" id="loginModal">Register</h4>
            </div>
            <div class="modal-body">
                <form role="form" class="form-horizontal">
                    <div class="form-group has-feedback">
                        <label for="email" class="control-label col-xs-3">Email</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-envelope"></i></span>
                                <input id="registerEmail" type="email" class="form-control" required="required" name="email" pattern="[A-Za-z]{6,}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="name" class="control-label col-xs-3">Name</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-pencil"></i></span>
                                <input id="registerName" type="text" class="form-control" required="required" name="name" pattern="[A-Za-z]{6,}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="password" class="control-label col-xs-3">Password</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></i></span>
                                <input id="registerPassword" type="password" class="form-control" required="required" name="password" pattern="[A-Za-z]{6,}">
                            </div>
                        </div>
                    </div>
                    <div class="form-group has-feedback">
                        <label for="passwordRepeat" class="control-label col-xs-3">Repeat Password</label>
                        <div class="col-xs-8">
                            <div class="input-group">
                                <span class="input-group-addon"><i class="glyphicon glyphicon-asterisk"></i></span>
                                <input id="passwordRepeat" type="password" class="form-control" required="required" name="passwordRepeat" pattern="[A-Za-z]{6,}">
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                <button id="registerButton" type="button" class="btn btn-primary">Register</button>
            </div>
        </div>
    </div>
</div>