{% include 'invalid_format_modal.html' %}
<div id="uploadSection" class="jumbotron mainSpace">
<!-- title section -->
<div class="container">
    <h1 class="text-center">Save your files!</h1>
</div>
<!-- upload section -->
<div class="container">
    <div class="row">
        <div id="fileForm" class="col-xs-offset-2 col-sm-offset-4 col-md-4">
            <form class="form-horizontal">
                <div class="control-group">
                    <div class="controls">
                        <input type="file" id="inputFile" placeholder="File">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</div>