<div id="uploadSection" class="jumbotron mainSpace">
<!-- title section -->
    <h1 class="text-center">Save your files!</h1>
<!-- upload section -->
<div class="container">
    <div class="row">
        <div id="fileForm">
                <div class="control-group col-xs-8 col-xs-offset-2">
                    <div class="controls" id="uploadButtonWrap">
                        <input class="fileInput" type="file" id="inputFile" placeholder="File">
                        <div class="center-block text-center">
                            <button id="uploadButton" class="btn uploadButton">Upload</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="center-block text-center">
            <h4>Max allow file size 100 Mb</h4>
            <h3>Or drop your file on this page</h3>
        </div>
    </div>
</div>
</div>