<div id="uploadSection" class="jumbotron mainSpace">
<!-- title section -->
    <h1 class="text-center">Save your files!</h1>
<!-- upload section -->
<div class="container">
    <div class="row">
        <div id="fileForm">
                <div class="center-block text-center">
                    <div class="controls" id="uploadButtonWrap">
                        <input class="fileInput" type="file" id="inputFile" placeholder="File">
                        <div class="center-block text-center">
                            <button id="uploadButton" class="btn uploadButton">Upload</button>
                        </div>
                    </div>
                </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1 col-sm-6 col-sm-offset-4 col-md-5 uploadTips">
            <ul class="list-unstyled">
                <li><span class="glyphicon glyphicon-alert"></span>Max allow file size {{ maxFileSize }} mb</li>
                <li><span class="glyphicon glyphicon-alert"></span>You can drop file on this page</li>
            </ul>
        </div>
    </div>
</div>
</div>